<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="org.test.mapper.UserinfoMapper">

    <!-- resultMap标签:映射实体与表
             type属性：表示实体全路径名
             id属性：为实体与表的映射取一个任意的唯一的名字
        -->
    <resultMap type="org.test.entity.Userinfo" id="Userinfo">
        <!-- id标签:映射主键属性
             result标签：映射非主键属性
             property属性:实体的属性名
             column属性：表的字段名
        -->
        <id property="ID" column="ID"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="qqNumber" column="qq"/>
        <result property="schoolName" column="school"/>
        <result property="city" column="city"/>
        <result property="signature" column="signature"/>
        <result property="imageUrl" column="imageUrl"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="create_at" column="create_at"/>
        <result property="update_at" column="update_at"/>
    </resultMap>

    <!--
            insert标签：要书写insert这么一个sql语句
            id属性：为insert这么一个sql语句取一个任意唯一的名字
            parameterType:要执行的dao中的方法的参数，如果是类的话，必须使用全路径类
        -->
	<sql id="base">
		id,name,sex,age,qq,school,city,signature,imageUrl,account,
		password,create_at,update_at
	</sql>


    <insert id="insert" parameterType="org.test.entity.Userinfo" useGeneratedKeys="true" keyProperty="ID">
        insert into itxzy_task_userinfo(
        
        name,sex,age,qq,school,city,
        signature,imageUrl,account,password,create_at,update_at) 
        values(
        #{name,jdbcType=VARCHAR},
        #{sex,jdbcType=INTEGER},
        #{age,jdbcType=INTEGER},
        #{qqNumber,jdbcType=INTEGER},
        #{schoolName,jdbcType=VARCHAR},
        #{city,jdbcType=VARCHAR},
        #{signature,jdbcType=VARCHAR},
        #{imageUrl,jdbcType=VARCHAR},
        #{account,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
         #{create_at,jdbcType=TIMESTAMP},
        #{update_at,jdbcType=TIMESTAMP})
    </insert>
    <delete id="delete" parameterType="int">
       delete from itxzy_task_userinfo where ID = #{ID}
    </delete>
    <update id="update" parameterType="org.test.entity.Userinfo" >
        update itxzy_task_userinfo
          <set>
              <if test="update_at != null and update_at != '' " >
                  update_at = #{update_at},
              </if>
              <if test="sex != null and sex != '' " >
                  sex = #{sex},
              </if>
               <if test="name != null and name != '' " >
                  name = #{name},
              </if>
              <if test="age != null and age != '' " >
                  age = #{age},
              </if>
              <if test="city != null and city != ''" >
                  city = #{city},
              </if>
              <if test="qqNumber != null and qqNumber != '' " >
                  qq = #{qqNumber},
              </if>
              <if test="schoolName != null and schoolName != '' " >
                  school = #{schoolName},
              </if>
              <if test="signature != null and signature != '' " >
                  signature = #{signature},
              </if>
              <if test="imageUrl != null and imageUrl != '' " >
                  imageUrl = #{imageUrl},
              </if>
              <if test="account != null and account != '' " >
                  account = #{account},
              </if>
              <if test="password != null and password != '' " >
                  password = #{password}
              </if>
          </set>
        where ID = #{ID}
    </update>
	<select id="detail" parameterType="int" resultMap="Userinfo">
		select 
		<include refid="base" />
		 from 
		itxzy_task_userinfo 
		where ID = #{ID}
	</select>
	<select id="list"  resultMap="Userinfo" >
		select 
		<include refid="base" />
		 from 
		itxzy_task_userinfo 
		limit #{page},#{pageSize}		
	</select>
	<select id="listAll"  resultMap="Userinfo" >
		select 
		<include refid="base" />
		 from 
		itxzy_task_userinfo 
				
	</select>
	<select id="getCounts" parameterType="org.test.entity.Userinfo"  resultType="int" >
		select count(*) from 
		itxzy_task_userinfo 
		<where>
			  <if test="ID != null and ID != '' " >
                  id = #{ID},
              </if>
		 	   <if test="update_at != null and update_at != '' " >
                  update_at = #{update_at},
              </if>
              <if test="sex != null and sex != '' " >
                  sex = #{sex},
              </if>
               <if test="name != null and name != '' " >
                  name = #{name},
              </if>
              <if test="age != null and age != '' " >
                  age = #{age},
              </if>
              <if test="city != null and city != ''" >
                  city = #{city},
              </if>
              <if test="qqNumber != null and qqNumber != '' " >
                  qq = #{qqNumber},
              </if>
              <if test="schoolName != null and schoolName != '' " >
                  school = #{schoolName},
              </if>
              <if test="signature != null and signature != '' " >
                  signature = #{signature},
              </if>
              <if test="imageUrl != null and imageUrl != '' " >
                  imageUrl = #{imageUrl},
              </if>
              <if test="account != null and account != '' " >
                  account = #{account},
              </if>
              <if test="password != null and password != '' " >
                  password = #{password}
              </if>
		</where>
		
	</select>
	
</mapper>
